<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
<!--   
거의 쓸일이 없다?
<display-name>HelloServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list> -->
  
  <!-- 
		1. Filter
		2. Listener
		3. Servlet
	-->
  
  <filter>
  	<filter-name>LogFilter</filter-name>
  	<filter-class>com.clghks.helloservlet.LogFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>LogFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- Listener 서블릿보다 위에 등록 되어야한다. -->
  <listener>
  	<listener-class>com.clghks.helloservlet.InitializeListener</listener-class>
  </listener>
  
  <listener>
  	<listener-class>com.clghks.helloservlet.CheckSessionListener</listener-class>
  </listener>
  
  <!-- 서블릿 등록 -->
  <servlet>
  	<servlet-name>HelloWorld</servlet-name>
  	<servlet-class>com.clghks.helloservlet.HelloWorld</servlet-class>
  	<!-- 서블릿에서 사용할 값 추가 -->
  	<init-param>
  		<param-name>msg</param-name>
  		<param-value>Hello</param-value>
  	</init-param>
  	<init-param>
  		<param-name>msg1</param-name>
  		<param-value>Hello1</param-value>
  	</init-param>
  </servlet>
  
  <servlet>
  	<servlet-name>ReqServlet</servlet-name>
  	<servlet-class>com.clghks.helloservlet.ReqServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>SingleUpload</servlet-name>
  	<servlet-class>com.clghks.helloservlet.SingleUpload</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>MultiUpload</servlet-name>
  	<servlet-class>com.clghks.helloservlet.MultiUpload</servlet-class>
  </servlet>
  
  <!-- 웹 URL 요청시 등록된 서블릿을 매핑해준다 -->
  <servlet-mapping>
  	<servlet-name>HelloWorld</servlet-name>
  	<url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ReqServlet</servlet-name>
  	<url-pattern>/reqServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>SingleUpload</servlet-name>
  	<url-pattern>/SingleUpload</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>MultiUpload</servlet-name>
  	<url-pattern>/MultiUpload</url-pattern>
  </servlet-mapping>
  
  <!-- App에서 사용할 값 추가 -->
  <context-param>
  	<param-name>msg2</param-name>
  	<param-value>Hello2</param-value>
  </context-param>
  
  <context-param>
  	<param-name>msg3</param-name>
  	<param-value>Hello3</param-value>
  </context-param>
  
  <jsp-config>
  	<taglib>
  		<taglib-uri>
  			http://www.clghks.co.kr/tags
  		</taglib-uri>
  		
  		<taglib-location>
  			/WEB-INF/lib/hello.tld
  		</taglib-location>
  	</taglib>
  </jsp-config>
  
</web-app>