<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/myvatis-3-mapper.dtd">

<mapper namespace="com.clghks.springjdbc.mapper.ContactsMapper">
	<resultMap type="com.clghks.springjdbc.Contact" id="ContactResult">
		<result column="first_name" property="firstName" />
		<result column="last_name" property="lastName" />
	</resultMap>
	
	<select id="getAllContacts" resultMap="ContactResult">
		SELECT * FROM contacts
	</select>
</mapper>